:root {
    --azul: #00AFFE;
    --azulcontenedor: rgb(0, 132, 193);
    --blanco: #FFF;
    --negro: #000;
    --primarioOscuro: #309292;
    --FuentePrimaria: 'Poppins', cursive;
}

@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 62.5%; 
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
    
}

p {
 font-family: var(--FuentePrimaria);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

 a {
    color: var(--blanco);
    text-decoration: none;
    font-family: var(--FuentePrimaria);
 }

nav{
    background-color: var(--azul); 
    align-items: center;
    padding: 1rem 0; 
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    gap:1rem; 
    width: 100%;
    color: white;
    transition-duration: 0.5s;
    font-size: 1.9rem;
    font-family: Arial;
    
 }

 header {
    display: flex;
    justify-content: center;
 }

 @media (min-width: 768px) {
     nav {
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
     }
 }
 
 nav a:hover {
    cursor: pointer;
    color:black;
    transition-duration: 0.5s;
    font-size: 23px;
 }

.barra-busqueda {
    background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.barra-busqueda input{
    flex: 1;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
}

.barra-busqueda button{
    outline: 0;
    padding: 5px 7px;
    background: #00AFFE;
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
}



.header {
    --opacidad-negro: 0.1;
    background-image:linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%; /* Define un ancho máximo para el encabezado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra alrededor del encabezado */
    height: 100vh; /* Altura del 100% del viewport height */
}

 .header__logo {
    width: 130px;
}

.header__logo--mod {
    width: 330px;
}

.logo {
    font-size: 12px;
    font-weight:black;
}

.contenedor {
    max-width: 95%;
    margin: 0 auto;
}

.header .contenido {
    text-align: center;
    
}


.texto {
    margin-bottom: 2rem; 
}



.contenido__boton {
    width: 60rem;
    height: 7rem;
    
}

.texto {
    grid-column: 1;
}

.contenido__letra {
    color: white;
    font-size: 6rem;
    text-shadow: 2px 2px 2px black;
}

.contenido__letra--1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
}

.contenido__letra--2{
    font-size: 3rem;
    align-items: center;
}
 .contenido__boton {
    width: 60%;
    max-width: 50rem;
    height: 7rem;
    font-family: Poppins;
    font-size: 2.5rem;
    background-color: var(--negro);
    color: white;
    border-radius: 5%;
    transition-duration: 0.5s;
    border: 0px solid rgba(4, 110, 139, 0);
    margin: 0 auto; 
    display: block;
}
 .contenido__boton:hover {
    font-size: 2.7rem;
    background-color: #20a1dd;
    transition-duration: 0.5s;
}

 @media (min-width: 768px) {
    .contenido__boton {
        font-size: 2.2rem; /* Tamaño de fuente relativo */
        padding: 1.5rem 3.5rem; /* Relleno relativo */
    }
}

@media (max-width: 500px) {
    .contenido__letra {
        font-size: 3.5rem; /* Reducir el tamaño de la fuente para dispositivos más pequeños */
    }

    .contenido__letra--1 {
        font-size: 3rem; /* Reducir el tamaño de la fuente para dispositivos más pequeños */
    }

    .contenido__letra--2 {
        font-size: 2.5rem; /* Reducir el tamaño de la fuente para dispositivos más pequeños */
    }

    .contenido__boton {
        width: 90%; /* Reducir el ancho del botón para dispositivos más pequeños */
        max-width: none; /* Anular el ancho máximo del botón */
        font-size: 2rem; /* Reducir el tamaño de la fuente del botón para dispositivos más pequeños */
        padding: 1.2rem 2.5rem; /* Reducir el relleno del botón para dispositivos más pequeños */
    }
}




 /*Quienes somos*/

 .somos {
    background-color: rgb(0, 132, 193);
    padding: 4rem 2rem;
    max-width: 95%;
    margin: 0 auto ;
    border-radius: 1.5rem;
 }

 .contenido__somos {
    display: flex; 
    flex-direction: column; /* Coloca los elementos uno encima del otro en dispositivos pequeños */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto */
}


 .titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--FuentePrimaria);
    color: rgb(255, 255, 255);
 }
 .texto1  {
    text-align: center;
    margin: 3rem;
    margin-left: 50px;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    color: var(--blanco);
    font-family: var(--FuentePrimaria);
    line-height: 2.4rem; /*Separación*/
    font-weight: initial;
 }

 .h2titulo{
    font-family: var(--FuentePrimaria);
    text-transform: uppercase;
    font-size: 37px;
    color: white;
    
 }

 .titulo .texto1{
    font-size: 0.9rem;
    padding: 1rem;
 }

 .slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .texto__container {
    margin-bottom: 2rem;
  }
  
  .imagen__somos {
    width: 100%; /* Utiliza el ancho completo del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    max-width: 100%; /* Establece un ancho máximo */
    max-height: 400px; /* Establece una altura máxima */
    margin-bottom: 2rem; /* Espaciado inferior */
}



  
 


  /* Media queries */
  @media (min-width: 768px) {
    .contenido__somos {
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
  
  
    .imagen__somos {
      width: 50%;
      max-width: 800px;
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }
  
  



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1; /* Asegura que los botones estén por encima de la imagen */
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 1200px) {
    .card {
        width: 30%; 
    }
}

@media screen and (max-width: 992px) {
    .card {
        width: 45%; 
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%; 
    }

    .card .content {
        padding: 0 10px; 
    }

    .card .date {
        width: 25%; /* Aqui controlas que tan largo esta la barra de la fecha */
        text-align: center; 
        margin-bottom: 5px; 
    }
}
 
 
.mySlides {
    display: none;
  }
  
  .mySlides.active {
    display: block;
  }
  
 
 
 

/*noticias*/




/* Estilos para el contenedor de noticias */
.contenedornot {
    background-color: rgb(0, 132, 193);
    padding: 4rem 2rem; /* Utiliza rem para el relleno */
    max-width: 95%; /* Utiliza un porcentaje para el ancho máximo */
    margin: 0 auto;
    border-radius: 1.5rem;
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto del elemento */
}


/* Estilos para las imágenes de las noticias */
.producto__imagen {
    width: 100%; /* Utiliza el ancho completo del contenedor */
    height: 30rem; /* Establece una altura inicial */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto */
    object-position: center; /* Centra la imagen */
    border: 3px solid var(--blanco); /* Agrega un borde blanco */
    margin-bottom: 2rem; /* Espaciado inferior entre las imágenes */
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta automáticamente el número de columnas */
    gap: 1rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta automáticamente el número de columnas */
    }
}


.producto {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-color: #000;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.producto:hover {
    background-color: rgba(0, 0, 0, 0.300);
    transition: 0.5s;
}

.producto__nombre{
    font-size: 3rem;
    font-style: italic;
}
.producto__precio{
    font-size: 1.5rem;
    color:var(--secundario)
}

.producto__nombre,
.producto__precio,
.noticia__fecha {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    color: var(--blanco);
    text-align: center;
    line-height: 1.2;
}



/* Cursos */

.curso {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra alrededor de la imagen */
    padding: 1rem;
    border-color: #000;
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.5s;
}

.curso:hover {
    background-color: rgba(0, 0, 0, 0.300);
    transition: 0.5s;
}

.gridcurso {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta automáticamente el número de columnas */
    gap: 1rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .gridcurso {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); /* Ajusta automáticamente el número de columnas */
    }
}


.curso__imagen {
    width: 100%; /* Utiliza el ancho completo del contenedor */
    height: 15rem; /* Establece una altura inicial */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto */
    object-position: center; /* Centra la imagen */
    border: 3px solid var(--blanco); /* Agrega un borde blanco */
    margin-bottom: 2rem; /* Espaciado inferior entre las imágenes */
}

.curso__nombre {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    color: white;
    text-align: center;
    line-height: 1.2;
    font-size: 25px;
    font-style: italic;
}

.curso__persona{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    color: white;
    text-align: center;
    line-height: 1.2;
}

.curso__precio {
    font-family: var(--fuentePrincipal);
    font-size: 15px;
    margin: 1rem 0;
    color: white;
    text-align:center;
    line-height: 1.2;

}

/* Recuadros con animaciones*/

.contenedoryes {
    background-color: rgb(0, 132, 193);
    padding: 4rem 2rem; /* Utiliza rem para el relleno */
    max-width: 95%; /* Utiliza un porcentaje para el ancho máximo */
    margin: 0 auto;
    border-radius: 1.5rem;
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto del elemento */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

.radio-btns {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr); /* Cambia a fr para ocupar todo el espacio disponible */
}

.radio-btns:hover .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
}

.radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 30rem) {
    .radio-btns {
        grid-template-columns: repeat(3, 150px);
    }
}

.radio-btns__btn {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem; /* Aqui se cambia el como quiere que salga la imagen en la responsividad, si le pongo en auto salen
    imagenes ligeramente mas grandes que otras, 200px imagenes del mismo tamaño pero no quedan bien centradas*/
    overflow: hidden; /* Oculta el texto que pueda sobresalir del contenedor */
}

.radio-btns__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    opacity: 0; /* Oculta el texto inicialmente */
    transition: opacity 0.3s ease-in-out;
    color: black; /* Color de las letras en negro */
    font-size: 16px; /* Tamaño del texto */
    text-align: center; /* Alinea el texto al centro */
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); /* Sombra del texto para resaltar en fondos claros */
    -webkit-text-stroke: 0.8px white; /* Contorno blanco muy marcado */
}


@media (min-width: 30rem) {
    .radio-btns {
        grid-template-columns: repeat(3, 33.33%); /* Tres columnas */
    }
}



.radio-btns__btn:hover .radio-btns__text {
    opacity: 1; /* Revela el texto cuando se pasa el ratón sobre la imagen */
    transition: opacity 0.3s ease-in-out;
}



.radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.radio-btns__btn img {
    display: block;
    width: 100%; /* Ajusta el ancho al 100% */
    height: 100%; /* Ajusta la altura al 100% */
    object-fit: cover; /* Ajusta el tamaño para cubrir completamente el contenedor */
}



/* Footer*/

.footer {
    background-color: var(--azul);
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 2.2rem;
    }

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;

}

/* Todo esto de abajo es experimental, de las otras paginas no les hagan caso*/




/*Noticia*/

/* Estilos para el contenedor principal de noticias */
.contenedorNoticias {
    background-color: rgb(0, 132, 193);
    padding: 4rem 2rem;
    max-width: 95%;
    margin: 4rem auto 0;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

/* Estilos para el título de las noticias */
.tituloNoticias {
    color: var(--negro); /* Color del texto del título */
    font-size: 1.5rem; /* Tamaño de fuente del título */
    margin-top: 1rem; /* Espacio superior entre la imagen y el título */
}

/* Estilos para el texto de las noticias */
.item p {
    color: var(--gris); /* Color del texto de la noticia */
    font-size: 1rem; /* Tamaño de fuente del texto de la noticia */
    margin-top: 0.5rem; /* Espacio superior entre el título y el texto */
}

/* Estilos para el carrusel */
.carousel-container {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
}

.carousel {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.item {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.item.active {
    opacity: 1;
    display: block;
}

/* Estilos para las flechas de navegación */
.btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #10100e;
    transition: transform 0.2s ease-in-out;
}

.prev {
    left: -1.5%; /* Posiciona la flecha izquierda fuera del contenedor */
}

.next {
    right: -1.5%; /* Posiciona la flecha derecha fuera del contenedor */
}

/* Estilos para los puntos de navegación (dots) */
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px; /* Posición desde abajo */
    left: 50%; /* Centra los puntos horizontalmente */
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #242421;
    transition: background-color 0.2s ease;
}

.dot.active,
.dot:hover {
    background-color: #ffffe6;
}

.texto__Banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2.5rem; /* Con este controlan el tamaño del banner negro*/
    box-sizing: border-box;
}

.titulo__Noticias {
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto__Banner h2 {
    color: var(--blanco);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.texto__Banner p {
    color: #ffffff;
    font-size: 1rem;
}


.contenedor__secciones {
    background-color: rgb(0, 132, 193);
}

@media (max-width: 767px) {
    .contenedorNoticias {
        padding: 2rem 1rem;
    }

    .titulo__Noticias {
        font-size: 1.2rem;
    }

    .item p {
        font-size: 0.9rem;
    }

    .btn {
        padding: 0.8em;
        font-size: 10px;
    }

    .texto__Banner {
        padding: 0.8rem;
    }

    .texto__Banner h2 {
        font-size: 1rem;
    }

    .texto__Banner p {
        font-size: 0.7rem;
    }

    .item img {
        height: 60%; /* Reducir la altura de las imágenes para ajustar el tamaño */
    }

    .dots {
        bottom: 10px; /* Ajustar más abajo los puntos en dispositivos pequeños */
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}
/*Mega contenedor de noticias*/

.contenedor__noticias{
    background-color: rgb(0, 132, 193);
    padding: 3rem;
}

.grid__noticias {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajusta automáticamente el número de columnas */
    gap: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 1024px) {
    .grid__noticias {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para tablets y dispositivos más pequeños */
    }
}

@media (max-width: 768px) {
    .grid__noticias {
        grid-template-columns: 1fr; /* 1 columna para móviles */
    }
}
.producto__titulo {
    font-size: 1.4rem;
    text-transform: uppercase;
    display: flex;
    text-align: center;
}
.producto__texto {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    color: white;
    text-align: center;
    line-height: 1.2;
    font-size: 12px;
    font-style: italic;
}

.noticias__imagen {
    width: 100%; /* Utiliza el ancho completo del contenedor */
    height: 35rem; /* Establece una altura inicial */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto */
    object-position: center; /* Centra la imagen */
    margin-bottom: 2rem; /* Espaciado inferior entre las imágenes */
}

.noticia__boton {
    width: 100%; /* Reducir el ancho del botón para dispositivos más pequeños */
    max-width: none; /* Anular el ancho máximo del botón */
    font-size: 1rem; /* Reducir el tamaño de la fuente del botón para dispositivos más pequeños */
    padding: 0.8rem 1.0rem; /* Reducir el relleno del botón para dispositivos más pequeños */
    border-radius: 2%;
    align-self: center; /* Asegura que el botón se alinee en el centro del contenedor flex */
}

/*Seccion de cursos/////////////////////////////////////////////////////////////////////////////////////////////////*/
.contenedorcursos {
    background-color: rgb(0, 132, 193);
    padding: 4rem 2rem; /* Utiliza rem para el relleno */
    max-width: 95%; /* Utiliza un porcentaje para el ancho máximo */
    margin-top: 3rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto del elemento */
}

.container {
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 22%; /* Ajustado para caber 4 tarjetas en una fila */
    height: 520px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    margin: 10px;
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%;
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #1b9ce3;
    animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%;
    }
    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%;
    }
    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
    }
}

.card .pic {
    position: relative;
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.card .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: #1b9ce3;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: all ease;
}

.card .date .day {
    font-size: 14px;
    font-weight: 600;
}

.card .date .month,
.card .date .year {
    font-size: 10px;
}

.card .text-muted {
    font-size: 12px;
}

.card:hover .text-muted {
    color: #fff !important;
}

.card .content {
    padding: 0 20px;
}

.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #1b9ce3;
    border-radius: 25px;
    font-size: 12px;
    border: none;
}

.card:hover .content .btn {
    background: #fff;
    color: #1b9ce3;
    box-shadow: #0000001a 0px 3px 5px;
}

.card .content .btn .fas {
    font-size: 10px;
    padding-left: 5px;
}

.card .content .foot .admin {
    color: #1b9ce3;
    font-size: 12px;
}

.card:hover .content .foot .admin {
    color: #fff;
}

.card .content .foot .icon {
    font-size: 12px;
}
